@{
 
    ViewBag.Title = "Index";
}
<div id="gameView">
    <form class="form-horizontal">
        <fieldset>
            <legend> Pesron Data</legend>
            <div class="control-group">
                <div class="control-group ">
                    <label class="control-label" for="id">ID:</label>
                    <div class="controls">
                        <input type="text" class="input-large" id="id"  />*
                    </div>
                </div>
                <div class="control-group">
                  <label for="name">Name:</label>
                    <div class="controls">
                        <input type="text" class="input-large" id="name"  />*
                    </div>
                </div>
                <div class="control-group">
                    <label for="age">Age:</label>
                    <div class="controls">
                        <input type="text" class="input-small" id="age" />
                    </div>
                </div>
                <div class="control-group">
                    <label for="isMale">Male:</label>
                    <div class="controls">
                        <input type="checkbox" class="checkbox" id="isMale" />
                    </div>
                </div>
            <!--
              <div class="control-group">
                <label class="control-label" for="gameType">Game Type:</label>
                <div class="controls">
                  <select id="gameType">
                    <option>Action</option>
                    <option>Story</option>
                    <option>Race</option>
                    <option>Shooter</option>
                  </select>
                </div>
              </div> 
              -->
            </div>
             <div class="form-actions">
                <a class="btn btn-primary" href="#" > Add Person </a>
                <a class="btn cancel" href="#"> Cancel </a>
            </div>
        </fieldset>
    </form>
</div>
<h2>GameView</h2>
