@{
 
    ViewBag.Title = "Index";
}
<div id="gameView">
    <form class="form-horizontal">
        <fieldset>
            <legend> New Feature</legend>
            <div class="control-group">
                <legend >General Properties</legend> 
                <div class="control-group ">
                    <label class="control-label" for="ID">ID:</label>
                    <div class="controls">
                        <input type="text" class="input-large" id="ID"  />*
                    </div>
                </div>
                <div class="control-group">
                    <label for="gameName">Game Name:</label>
                    <div class="controls">
                        <input type="text" class="input-large" id="gameName"  />*
                    </div>
                </div>
                <div class="control-group">
                    <label for="dateReleased">Release Date:</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="dateReleased" />
                    </div>
                </div>
                <div class="control-group">
                    <label for="IsHot">Is Hot or Not:</label>
                    <div class="controls">
                        <input type="checkbox" class="checkbox" id="IsHot" />
                    </div>
                </div>
             
                <div class="control-group">
                    <label class="control-label" for="gameType">Game Type:</label>
                    <div class="controls">
                        <select id="gameType">
                            <option>Action</option>
                            <option>Story</option>
                            <option>Race</option>
                            <option>Shooter</option>
                        </select>
                    </div>
                </div> 
            </div>
             <div >
                <a class="btn" href="?" > Add Game </a>
                <a class="btn" href="?"> Cancel </a>
            </div>
        </fieldset>
    </form>
</div>
<h2>GameView</h2>
