@{
 
    ViewBag.Title = "Index";
}
<div id="gameView" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input type="text" class="input-xlarge" id="name">
        </div>
    </div>
  <div class="control-group">
    <label class="control-label" for="age">Age</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="age" >
    </div>
  </div>
  <div class="control-group">
        <label class="control-label" for="sex">Sex</label>
        <div class="controls">
            <input type="text" class="input-xlarge" id="sex" >
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="address">Address</label>
        <div class="controls">
            <input type="text" class="input-xlarge" id="address">
        </div>
    </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
    <button type="cancel" class="btn ">Cancel</button>
  </div>
  <div id="personList">
    <ul>
      Persone List
      </ul>
  </div>
</div>


