<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@this.ViewBag.Title</title>
    
    <script src="@this.Url.Content("~/Scripts/require.js")" data-main="@this.Url.Content("~/Scripts/main.js")"> </script>

     <link href="../../Scripts/docs.css" rel="stylesheet" type="text/css" />
    <link href="../../Scripts/bootstrap-responsive.css" rel="stylesheet" type="text/css" /> 
    <link href="../../Scripts/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../Scripts/atd.css" rel="stylesheet" type="text/css" />
   <link href="../../Scripts/atd.css" rel="stylesheet" type="text/css" />

    
</head>

<body>
    @this.RenderBody()
</body>
</html>
